<!-- bookmark_list.html -->


{% extends "base.html" %}

{% block header_row %} 
    <div class="col-md-12"></div>
{% endblock header_row %}

{% block content_row %} 
<div class="col-md-12">
	<p>
		<strong>Item</strong>

  
	    <ul class="list-unstyled">
	    {% for bookmark in object_list %}
	        <li>
	        {{ bookmark.name }}
	        <a href="{% url 'bookmark_view' bookmark.pk %}" class="btn btn-link"><i class="fa fa-eye"></i></a>
	        </li>
	    {% endfor %}
	    </ul>
	</p>
</div>
{% endblock content_row %}  