{% extends "base.html" %}

{% block header_row %}
    <div class="col-md-12"></div>
{% endblock header_row %}

{% block content_row %}
<div class="col-md-12">
	<p>
	    <center><strong>News Feed (ordered by date)</strong></center>
	    </br>

	    <ul class="list-unstyled">
	    {% for object in object_list reversed %}
	        <li>
	        <p>{{ object.creator }}
	        :
	        &nbsp;
	        "{{ object.msg }}"
	        &nbsp;
	        {{ object.date }}
	        &nbsp;
	        &nbsp;
	        &nbsp;
	        &nbsp;
	         Associated Bookmark:
	         {{object.bookmark}}
	         <a href="{% url 'bookmark_post' object.pk %}" class="btn btn-link"><i class="fa fa-edit"></i></a></p>
	         
	        </li>
	    {% endfor %}
	    </ul>
	</p>
</div>

<!-- {% for object in object_list reversed %}
{{object.message}}
{% endfor %} -->

{% endblock content_row %} 